@tailwind base;
@tailwind components;
@tailwind utilities;

/* app/globals.css */
body {
  font-family: var(--font-dm), sans-serif;
}
h1, h2, h3 {
  font-family: var(--font-syne), sans-serif;
}
html.dark {
  background-color: #061427;
}

html.light {
  background-color: #f8fafc;
}